Import data

In [54]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
warnings.filterwarnings('ignore')

features = pd.read_csv('features.csv')
stores = pd.read_csv('stores.csv')
train_raw = pd.read_csv('train.csv')
test_raw = pd.read_csv('test.csv')

Set date format

In [55]:
train_raw['Date'] = pd.to_datetime(train_raw['Date'])
test_raw['Date'] = pd.to_datetime(test_raw['Date'])
features['Date'] = pd.to_datetime(features['Date'])

Merge Train and Test

In [60]:
all_raw = pd.concat([train_raw, test_raw], 0)

Merge features and train

In [72]:
merged_1 = pd.merge(all_raw, stores, how = 'left', on = 'Store')
merged = pd.merge(merged_1, features, how = 'left', on = ['Store', 'Date'])

merged['Week'] = merged['Date'].dt.week

merged.tail()

,Date,Dept,IsHoliday_x,Store,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Week
536629,2013-06-28,98,False,45,NaN,B,118221,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False,26
536630,2013-07-05,98,False,45,NaN,B,118221,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False,27
536631,2013-07-12,98,False,45,NaN,B,118221,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False,28
536632,2013-07-19,98,False,45,NaN,B,118221,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False,29
536633,2013-07-26,98,False,45,NaN,B,118221,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False,30

In [66]:
def dummies(df, col_name):
    dum = pd.get_dummies(df[col_name], prefix=col_name)
    df = pd.concat([df, dum], axis = 1)
    df.drop(col_name, axis = 1, inplace = True)
    return(df)

one_hot = dummies(merged, 'Type')
one_hot = dummies(one_hot, 'Week')

one_hot.loc[one_hot['MarkDown1'].isnull(), 'MarkDown1'] = 0
one_hot.loc[one_hot['MarkDown2'].isnull(), 'MarkDown2'] = 0
one_hot.loc[one_hot['MarkDown3'].isnull(), 'MarkDown3'] = 0
one_hot.loc[one_hot['MarkDown4'].isnull(), 'MarkDown4'] = 0
one_hot.loc[one_hot['MarkDown5'].isnull(), 'MarkDown5'] = 0
one_hot['IsHoliday'] = one_hot['IsHoliday_x'] * 1
one_hot.drop(['IsHoliday_x', 'IsHoliday_y', 'CPI', 'Unemployment'], 1, inplace = True)

In [69]:
one_hot.columns.tolist()

['Date',
 'Dept',
 'Store',
 'Weekly_Sales',
 'Size',
 'Temperature',
 'Fuel_Price',
 'MarkDown1',
 'MarkDown2',
 'MarkDown3',
 'MarkDown4',
 'MarkDown5',
 'Type_A',
 'Type_B',
 'Type_C',
 'Week_1',
 'Week_2',
 'Week_3',
 'Week_4',
 'Week_5',
 'Week_6',
 'Week_7',
 'Week_8',
 'Week_9',
 'Week_10',
 'Week_11',
 'Week_12',
 'Week_13',
 'Week_14',
 'Week_15',
 'Week_16',
 'Week_17',
 'Week_18',
 'Week_19',
 'Week_20',
 'Week_21',
 'Week_22',
 'Week_23',
 'Week_24',
 'Week_25',
 'Week_26',
 'Week_27',
 'Week_28',
 'Week_29',
 'Week_30',
 'Week_31',
 'Week_32',
 'Week_33',
 'Week_34',
 'Week_35',
 'Week_36',
 'Week_37',
 'Week_38',
 'Week_39',
 'Week_40',
 'Week_41',
 'Week_42',
 'Week_43',
 'Week_44',
 'Week_45',
 'Week_46',
 'Week_47',
 'Week_48',
 'Week_49',
 'Week_50',
 'Week_51',
 'Week_52',
 'IsHoliday']

In [71]:
one_hot.head()

,Date,Dept,Store,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,Week_44,Week_45,Week_46,Week_47,Week_48,Week_49,Week_50,Week_51,Week_52,IsHoliday
0,2010-02-05,1,1,24924.50,151315,42.31,2.572,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2010-02-12,1,1,46039.49,151315,38.51,2.548,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,2010-02-19,1,1,41595.55,151315,39.93,2.514,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2010-02-26,1,1,19403.54,151315,46.63,2.561,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2010-03-05,1,1,21827.90,151315,46.50,2.625,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0